# backend/requirements.txt (Updated)
fastapi
uvicorn
alembic

pydantic
pydantic-settings

# LangGraph and LangChain dependencies
langgraph
langchain
langchain-openai
langchain-core
langchain-community
openai
langchain-google-genai
google-cloud-storage


# Additional dependencies for SQL and data processing
pandas
numpy
pymongo
motor

pyjwt
pwdlib[argon2]
landingai-ade
cohere
pymupdf
pyvespa
vespacli
langchain-cohere
azure-search-documents
azure-core
